.story {
    width: 100%;
    margin: auto;
        a {
            color: #000;
            &:hover{
                color: #000;
            }
        }
}


.container {
  @include span-columns(12 of 12);
}

.outer {
  @include span-columns(3 of 12);
}

.inner {
  @include span-columns(4 of 12);
    @media(max-width: 745px){
    @include span-columns(12);
    }

}

.inner h3 {
  font-size: 22px;
  margin-bottom: 2.5%;
}

.inner p {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  color: #484848;
  line-height: 27px;

}

#override {
  font-family: "Mallory";
}


